/*
*/

body {
    background: #ececf0 url( '/images/body_bg.gif' );
}

body, td, th {
    font: 10pt Georgia, Serif;
}

.hidden {
    display: none;
}

.header {
    background: #8fa9ad url('/images/title_bg.gif') no-repeat;
    color: #cccccc;
    border-bottom: solid 1px #999999;
    height: 60px;
}

.frame {
    border: solid 1px #cccccc;
    background: #ffffff;
    padding: 4px;
    margin-top: 0px;
    margin-bottom: 4px;
}

.frame a {
    color: #6F8BC0;
    text-decoration: none;
}

.frame a:hover {
    text-decoration: underline;
}

.footer .frame {
    margin-top: -4px;
}

.sidebar .frame {
    /* min-height: 400px; */
    margin-right: 0;
    margin-left: 4px;
}

.loading {
    border: solid 1px #92A5D2;
}

.top-bottom-margin {
    margin-top: 4px;
    margin-bottom: 4px;
}

.blog.frame h2 {
  cursor: pointer;
}

h2 {
    font: normal 11pt tahoma, arial, sans-serif;
    background-color: #ffffff;
    color: #6F8BC0;
    margin-top: 2px;
    margin-bottom: 2px;
}

h3 {
    font: normal 10pt tahoma, arial, sans-serif;
    background-color: #ffffff;
    color: #6F8BC0;
    margin-top: 2px;
    margin-bottom: 2px;
}

p {
    margin: 4px 0;
    text-indent: 8px;
}

pre {
    margin: 4px 4px;
    font: 10pt Georgia, Serif;
}