.hierarchy .title {
    float: left;
    clear: left;
    color: #92A5D2;
    padding-right: 4px;
}
.hierarchy .value {
/* padding-left: 10px; */
}
.container {
    padding: 2px;
    clear: both;
}
.container .container {
    margin-left: 8px;
}

.hierarchy .expandable {
    cursor: pointer;
    color: #3d5182;
}